.comments{
    background-image: url('../../../build/assets/images/clients.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}
.comments.linear-white::after{
    top:0;
}
.comments-img{
    --tamano: 80px;
    width: var(--tamano);
    height: var(--tamano);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 7px 7px rgba(0 0 0 / 0.5);
    border: 3px ride #fff;
}
.transform-turn{
    transform: rotate(0.5turn);
}
.linear-white::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}