.cursor-pointer{
    cursor: pointer;
    &:hover{
        background: goldenrod;
        color: white;
    }
  }

  .product-title{
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Add ellipsis for long text */
    white-space: nowrap; /* Prevent wrapping */
  }